.navbar-brand {
	font-family: 'Permanent Marker', cursive;
}
body {
	background-image: url(art.jpg);
	background-size: cover;
	text-align: center;
}
p{
	font-family: 'Anton', sans-serif;
	font-size: 5em;
	text-align: center;
}
html{
	width: 100%
	height: 100%;
	text-align: center;
}
.btn-primary:hover {
   background-color: #ee4b08;
}
 
